<%- include('header'); -%>

<div class="box" id="heading">
  <h1 style="color: green">Today is <%=day%></h1>
</div>
<div class="box">
  <% newItem.map((item)=>{ %>
  <form action="/delete/<%=item._id%>" method="post">
    <div class="item">
      <input type="checkbox" onchange="this.form.submit()" />
      <p name="p"><%= item.name%></p>
    </div>
  </form>
  <% }) %>
  <form class="item" action="/" method="post">
    <input type="text" name="item" placeholder="newItem" autocomplete="off" />
    <button type="submit">+</button>
  </form>
</div>
<%- include('footer'); -%>
